body {
  background-color: #f7f7f7;
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-size: 15px;
  margin: 0;
}
/*body*/
#container {
  margin: 0px auto;
}

::-webkit-scrollbar {display: none;}

/*header*/
header {
  background: #2a9d8f;
  height: 106px;
  text-align: initial;
  line-height: 25px;
  color: black;
  margin-top: -20px;
  font-family: serif;
}

.titulo1 {
  margin-left: 10px;
  margin-top: 20px;
  height: 35px;
  padding-top: 13px;
  padding-bottom: 1px;
  margin-bottom: 0px;
}

.titulo2 {
  color: cornsilk;
  margin-left: 10px;
}

/*barra de navegación*/

.botones {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.login) {
  background-color: #111;
}

.login {
  background-color: #E9C46A;
}

/*ingredientes y preparación*/

h4{
  font-size: 20px;
  text-decoration: overline;
  margin-bottom: 0px;
}

h3{
  margin-top: 10px;
}


.doslistas {
  float: left;
  width: 20%;
  height: 530px;
  margin-left: 150px;
  margin-top: 15px;
}

.tortilla {
  position: absolute;
  left: 630px;
  bottom: 350px;
  width: 560px;
  height: 335px;
  border-radius: 4%;
 
}

.listaordenada {
  margin-top: 10px;
  list-style: circle;
}  


.lists1{
  float: initial;
  background: #F7F7FF;
  list-style-type: disclosure-closed;
}

.lists2{
  float: initial;
  background: #F7F7FF;
  list-style-type: decimal;

}


/*video y mapa*/

.videomap {
 
  margin: 30px;
  padding: 20px;
}
.vid {
  margin-left: 300px;
}
.mapita {
  margin-left: 60px;
  margin-right: 280px;
}

/*aside*/


.margen {
  margin: 15px;
  margin-left: 1320px;
  padding-bottom: 3px;
  width: 500px;
  height: 520px;
  text-align: start;
  font-size: 18px;
}

.cajasombra{
  width: 330px;
  height: 500px;
  padding: 15px;
  background-color: #F4A261;
  box-shadow: 10px 10px;
}


/*footer*/
.footer {
  background-color: #264653;
  height: 75px;
}

.foottext{
  text-align: center;
  padding-top: 25px;
  color: #fff;
}


/*formulario*/




.formulario{
  margin: 25px 0px;
  text-align: center;
  width: 100%;
}

.qwe{
  width: 15%;
  display: inline-block;
  margin: auto;
  text-align: start;
}

.inusuario{
  margin-left: 25px;

}

.inemail{
  margin-left: 40px;
}


.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

}

#container-form{
  height: 90.40vh;

} 
